<center>
  <table>
    <tr>
      <td>
        <%= image_tag"Vehicle-Hiring-System.png" %>
      </td>
    </tr>  
    <tr>
      <td>
        <h3><center><%= link_to 'Welcome to Vechile hiring system' , new_user_session_path %></center></h3>
      </td>
    </tr>  
  </table>
</center>
